<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js todo app</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link href="style.css" rel="stylesheet" type="text/css"> 
</head>
<body>
    <div id="app">
        <h1>Todo App WU2!</h1>
        <input type="text" placeholder="Sök..">
        <br>
        <input data-cy="show" type="checkbox" v-model="doShowComplete">Visa alla</input>
        <hr>
        <div class="flex">
            <input data-cy="todo" class="input" type="text" placeholder="skriv något här..." v-model="text">
            <button data-cy="add" @click="onAdd">+</button>        
        </div>
        <ul>
            <!-- lägg till v-for och skicka props till item komponenten -->
            <item v-for="todo in todos" :todo="todo"></item>
        </ul>        
    </div>
</body>
<template id="item-template">
    <div v-show="!done || $parent.doShowComplete" class="item">
        <li :class="{ strikethrough: done }">{{todo.text}}</li>
        <button data-cy="del" @click="delTodo">✗</button>
        <button data-cy="mark" @click="toggleTodo">✓</button>
    </div>
</template>
<script src="index.js"></script>
</html>